<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/evento_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Eventos</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <div class="container">
    <h1>Bienvenido al creador de eventos</h1>

    <h2>
      Página principal para crear eventos para la Agenda Semanal Tec del Campus Puebla.
    </h2>
    <%= link_to "Inicia sesión", login_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
<% end %>
